/* 101-style.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.box1 {
  background-color: #4CAF50; /* Custom green color */
}

.box2 {
  background-color: #2196F3; /* Custom blue color */
}

.box3 {
  background-color: #3F51B5; /* Custom dark blue color */
  height: 150px;
  width: 200px;
}

.box4 {
  background-color: #9C27B0; /* Custom purple color */
}

.box5 {
  background-color: #FF5722; /* Custom orange color */
}
